/*Footer*/

footer{
    background-color: #252525;
    padding: 30px;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    color: #f7f7f7;
}

.footer-social li{
    background-color: #212020;
    border-radius: 50%;
    border: 1px solid #8C52FF;
}

.footer-social i{
    padding: 30px;
    font-size: 1.5rem;
    color: #f7f7f7;
}

.footer-social li:hover{
    transition: .3s ease-in-out;
    cursor: pointer;
    background: #8C52FF;
}

.footer-social::before{
    content: '';
    height: 5px;
    width: 200px;
    background-color: #8C52FF;
    bottom: -30px;
    position: absolute;
}

footer .footer-comercial{
    text-align: center;
    color: #fff;
    margin: 90px auto;
    font-size: 1.5rem;
    font-family: 'Poppins';
}
